body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#menu {
  text-align: center;
background: #222;
}

nav#manu > ul {
	margin: 0;
	padding: 15px;
}

nav#manu > ul > li.menu-item {
	display: inline;
}

